nav {
  display: flex;
  align-items: center;
}

.heading-title {
  text-align: center;
  font-size: 1.5rem;
  height: 2.2rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-family: "Gill Sans", sans-serif;
  font-weight: 800;
  background-color: #6E6249;
  margin: 0px 0px;
  padding: 5px 5px;
}

.navi {
  display: flex;
  justify-content: space-around;
  background-color: #c4b085;
  color: rgb(59, 8, 8);
  align-items: center;
  height: 2.5rem;
  padding: 0 5rem;
}
.nav-1 {
  color: #423b2c;
  cursor: pointer;
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  padding: 10px;
  position: relative;
}
a {
  text-decoration: none;
}
.navlist {
  display: flex;
  list-style: none;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  gap: 2rem;
  justify-content: center;
}
/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 10px;
  background-color: #f1f1f1;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-style: outset;
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 7px 7px;
  font-weight: 50;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6e6249;
  color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.nav-1:hover {
  color: #1f1c17;
  transition: all 0.3s;
}
.nav-1:active {
  color: rgb(163, 98, 0);
}
